{{ define "head" }}
  <link rel="stylesheet" href="/css/single.css">
{{ end }}

{{ define "main" }}
  <div class="text-regal-blue py-12 px-4">
    <div class="md:w-4/5 lg:w-3/5 mx-auto">
      <h1 class="text-4xl md:text-6xl mb-8 lg:w-3/5">
        <span class="block">{{ .Title }}</span>
        <div class="w-10 md:w-12 h-2 md:h-4 mt-2 bg-regal-blue"></div>
      </h1>
      {{ if .Params.director }}
        <div class="mb-3">
          <h2 class="text-3xl">Director(a)</h2>
          <p class="font-normal text-xl truncate">{{ .Params.director }}</p>
        </div>
      {{ end }}
      {{ if .Params.area_trabajo }}
        <div class="mb-3">
          <h2 class="text-3xl">Área de trabajo</h2>
          <p class="font-normal text-xl truncate">{{ .Params.area_trabajo }}</p>
        </div>
      {{ end }}
      {{ if .Params.website }}
        <div class="mb-3">
          <h2 class="text-3xl">Página web</h2>
          <p class="font-normal text-xl truncate">
            <a href="{{ .Params.website }}" rel="noopener noreferrer" target="_blank">{{ .Params.website }}</a>
          </p>
        </div>
      {{ end }}
      {{ if .Params.tel }}
        <div class="mb-3">
          <h2 class="text-3xl">Teléfono</h2>
          <p class="font-normal text-xl truncate">{{ .Params.tel }}</p>
        </div>
      {{ end }}
      {{ if .Params.correo }}
        <div class="mb-3">
          <h2 class="text-3xl">Correo</h2>
          <p class="font-normal text-xl truncate">
            <a href="mailto:{{.Params.correo}}">{{ .Params.correo }}</a>
          </p>
        </div>
      {{ end }}
      {{ if .Params.direccion }}
        <div class="mb-3">
          <h2 class="text-3xl">Dirección</h2>
          <p class="font-normal text-xl truncate">{{ .Params.direccion }}</p>
        </div>
      {{ end }}
      <div class="content">
        {{ .Content }}
      </div>
    </div>
  </div>
{{ end }}