<footer>
  <div class="bg-swirl p-4 text-xs md:text-sm">
    <div class="container mx-auto">
      <div class="w-full md:w-10/12 mx-auto flex items-center">
        <i class="icon ion-logo-twitter text-4xl text-white mr-4"></i>
        <p class="uppercase text-chocolate">Para mantenerse al tanto con el proyecto, las iniciativas de datos abiertos y la tecnología cívica en América Latina, síganos en Twitter <a href="https://twitter.com/idatosabiertos" target="_blank" rel="noopener noreferrer" class="text-white font-bold">@IDATOSABIERTOS</a></p>
      </div>
    </div>
  </div>
  <div class="bg-black text-white">
    <div class="container mx-auto px-4 py-6 flex flex-col md:flex-wrap md:flex-row">
      <div class="w-full mb-6 lg:w-2/6 lg:mb-0">
        <img src="/images/logo_white.png" alt="Explora LATAM" class="w-48">
      </div>
      <div class="w-full mb-6 md:w-1/4 lg:w-1/6 lg:mb-0">
        <h3 class="uppercase font-bold mb-4 text-sm md:text-base">personas</h3>
        <ul class="text-sm opacity-75 lg:pr-2">
          <li class="font-thin mb-1"><a href="#">Únete a Explora LATAM</a></li>
          <li class="font-thin mb-1"><a href="/condiciones-de-uso">Condiciones de uso</a></li>
          <li class="font-thin mb-1"><a href="/politica-de-privacidad">Política de privacidad</a></li>
        </ul>
      </div>
      <div class="w-full mb-6 md:w-1/4 lg:w-1/6 lg:mb-0">
        <h3 class="uppercase font-bold mb-4 text-sm md:text-base">proyectos</h3>
        <ul class="text-sm opacity-75 lg:pr-2">
          <li><a href="#">Ver proyectos</a></li>
        </ul>
      </div>
      <div class="w-full mb-6 md:w-1/4 lg:w-1/6 lg:mb-0">
        <h3 class="uppercase font-bold mb-4 text-sm md:text-base">organizaciones</h3>
        <ul class="text-sm opacity-75 lg:pr-2">
          <li><a href="#">Ver organizaciones</a></li>
        </ul>
      </div>
      <div class="w-full mb-6 md:w-1/4 lg:w-1/6 lg:mb-0">
          <h3 class="uppercase font-bold mb-4 text-sm md:text-base">desarrollo</h3>
          <ul class="text-sm opacity-75 lg:pr-2">
            <li><a href="#">Comentarios</a></li>
          </ul>
      </div>
    </div>
    <div class="border-t border-b border-gray-200">
      <div class="container mx-auto px-4 py-6 flex flex-col lg:flex-row">
        <div class="w-full lg:w-1/2">
          <div class="flex items-center text-xs mb-4">
            <a class="mr-4 w-1/5" href="http://nesta.org.uk/" target="_blank" rel="noopener noreferrer"><img src="/images/nesta.gif" alt=""></a>
            <p class="w-4/5">Reconocemos y agradecemos el trabajo de Nesta que hizo posible la base para el desarrollo de este sitio.</p>
          </div>
          <div class="flex items-center text-xs">
            <a class="mr-4 w-1/5" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noopener noreferrer"><img src="/images/cc.png" alt=""></a>
            <p class="w-4/5">Salvo que se indique lo contrario, nuestras actividades se ofrecen bajo licencia <a class="underline" target="_blank" rel="noopener noreferrer" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a></p>
          </div>
        </div>
        <div class="w-full lg:w-1/2"></div>
      </div>
    </div>
    <div class="container text-xs mx-auto text-center p-4">
      <p>
        ILDA es una asociación civil internacional registrada en la República Oriental del Uruguay con el número 396-18 ante el Ministerio de Relaciones Exteriores, en el registro especial para asociaciones de este tipo.
      </p>
    </div>
  </div>
</footer>